/* Nav styles */

@use '../variables/responsive' as *;
@use '../variables/colors';

header {
	margin: 0;
	padding: 0;
	margin-bottom: 2rem;
}

.links-wrapper {
	@media (min-width: $screen-small) {
		flex-direction: row;
		justify-content: space-between;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
}

.right-flexed {
	@media (min-width: $screen-small) {
		width: 30%;
		flex-direction: row;
		justify-content: space-around;
	}

	@media (min-width: $screen-xxlarge) {
		width: 20%;
	}

	align-items: center;
	text-align: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.nav-links {
	@media (min-width: $screen-small) {
		margin-right: 3rem;
	}

	color: colors.$primary-lightblue;
}
