/* Skills section */

@use '../variables/responsive' as *;
@use '../variables/colors';

.skills-wrapper {
	@media (min-width: $screen-small) {
		justify-content: flex-start;
	}
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2rem;
	padding-bottom: 5rem;

	h3 {
		font-size: 0.7rem;
	}
}

.skill {
	@media (min-width: $screen-small) {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 5%;
	}

	@media (min-width: $screen-xxlarge) {
		width: 4%;
	}

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 10%;
}

.img-fixed {
	margin-bottom: 1rem;
	max-width: 100%;
}

i {
	font-size: 7rem;
}

.fa-js-square {
	color: #f7df1e;
}
